<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<table th:fragment="items" class="d-none">
		<tbody id="plantillaItemsFactura">
			<tr id="row_{ID}">
				<td class="d-none">
					<input type="hidden" value="{ID}" name="item_id[]" id="item_{ID}"/>
				</td>
				<td>{NOMBRE}</td>
				<td>{PRECIO}</td>
				<td><input type="number" value="1" name="cantidad[]" class="form-control" id="cantidad_{ID}" onchange="itemsHelper.calcularImporte({ID}, {PRECIO}, this.value);" /></td>
				<td><span id="total_item_{ID}">0</span></td>
				<td><a href="#" onclick="itemsHelper.eliminarItem({ID});" class="btn btn-danger">X</a></td>
			</tr>
		</tbody>
</table>
</body>
</html>